@model Seat
@{
    ViewData["Title"] = "Удалить место";
}

<h1>Удалить место</h1>

<p>Вы уверены, что хотите удалить место Ряд @Model.Row, Место @Model.SeatNumber в зале "@Model.Hall.Name"?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Удалить</button>
</form>

<a asp-action="Index">Отмена</a>

