@model List<Purchase>
@{
    ViewData["Title"] = "История покупок";
}

<h1>История покупок</h1>

@if (!Model.Any())
{
    <p>У вас нет покупок</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Номер</th>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in Model)
            {
                <tr>
                    <td>#@purchase.Id</td>
                    <td>@purchase.DateTime.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@purchase.TotalAmount руб.</td>
                    <td>@purchase.Status</td>
                    <td><a asp-action="Details" asp-route-id="@purchase.Id">Подробнее</a></td>
                </tr>
            }
        </tbody>
    </table>
}

